extends base

block scripts
	script(src=apiHost + "/js/api.js", type="text/javascript")

block content

	if info
		p Info: #{info}
	if error
		p Error: #{error}

	if name
		p U R #{name}
	else
		p LOG DAT SHIT IN

	#MaelstromLogin INJECT CONTENT HERE DOOD!

	script(type="text/javascript")
		maelstrom.configure({
			appid: "#{appid}",
			callback: window.location.protocol + "//" + window.location.host + "/callback",
			localTest: window.location.port == 4000
		});
		maelstrom.loginWidget();